main{
    width: 100vw;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.TextoLua > h1{
    font-size: clamp(30px, 4vw, 60px);
    font-weight: bold;
    line-height: 1;
    margin-top: 25px;
}

.TextoLua > p{
    font-size: clamp(13px, 3vw, 19px);
    line-height: 1;
    color: #838383;
}

.TextoLua > hr {
    width: clamp(70px, 7vw, 130px);
}

.TextoLua {
    text-align: center;
}

.Lua{
    justify-content: start;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    max-height: 80dvh;
    aspect-ratio: 1/1;
    background-image: url(../../assets/images/Moon_Surface_and_Earth.jpg);
    background-size: cover;
    -webkit-box-shadow: inset 0px 88px 88px -23px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 88px 88px -23px rgba(0,0,0,0.75);
    box-shadow: inset 0px 84px 61px -26px rgba(0, 0, 0, 0.993),
    inset 0px -84px 61px -26px rgba(0,0,0,1);
}


.informacoesSemanais{
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(10.6px);
    text-align: center;
    position: relative;
    top: -10dvw;
    max-width: 1100px;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding-top: 15px;
    box-shadow: 0px -7px 62px 13px rgba(0, 0, 0, 0.973);
}

.informacoesSemanais > p{
    font-size: clamp(12px, 3vw, 15px);
}

.caixaDiasSemana{
    padding: 25px 0px 25px 0px;
    gap: 15px;
    overflow-x: auto;
    width: 97%;
    display: flex;
    margin-bottom: 15px;
    --sb-track-color: #232E33;
    --sb-thumb-color: #3d0ade;
    --sb-size: 0px;
    display: flex;
    align-items: center;
}

.caixaDiasSemana::-webkit-scrollbar {
    width: var(--sb-size);
}

.caixaDiasSemana::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 7px;
}

.caixaDiasSemana::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 7px;
}

.caixaDia{
    background-color: white;
    aspect-ratio:6/9.9;
    min-width: 114px;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.caixaDiaFoto{
    background-color: #838383;
    width: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    top: -25px;
}

.sombra{
    background-color: rgb(169, 175, 175);
    width: 40%;
    height: 3%;
    border-radius: 50%;
    position: relative;
    top: -12px;
}

.dia{
    background-color: #3E01BA;
    width: 80%;
    border-radius: 50px;
    padding: 10px 0px 10px 0px;
    color: #ffffff;
}

.faseLua{
    width: 80%;
    height: 100%;
    font-size: clamp(14px, 2vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 730px) {

    .caixaDiasSemana{
        margin-top: 25px;
        height: 230px;
        width: 95%;
    }

    .caixaDia{
        max-width: 140px;
    }

    .caixaDiaFoto{
        top: -20px;
        width: 80%;
    }

    .dia{
        padding: 0;
    }
}