@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;900&display=swap');

body {
  overflow: hidden;
  background-color: #0D0F14;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: auto;
  margin: 0;
}

*{
  font-family: "Poppins", serif;
  font-weight: 400;
  border: 0;
  margin: 0;
}

#root{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.luaConteiner{
  margin-top: 35px;
  width: clamp( 1000px , 70vw , 1900px );
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.luaDescricao{
  width: 40%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.luaDescricao > p {
  font-size: clamp( 15px, 1.4vw, 23px);
  color: #ffffff;
}

.luaDescricao > h1 {
  font-size: clamp(30px, 6vw, 128px);
  font-weight: bold;
  line-height: 1;
}

.luaDescricao > a {
  text-decoration: none;
  background-color: #D9D9D9;
  color: #1E1D1D;
  padding: 15px 0px 15px 0px;
  text-align: center;
  border-radius: 10px;
}

.luaBanner{
  border-radius: 18px 18px 0px 0px;
  display: flex;
  flex-direction: column;
}

.luaBannerTopo{
  background-color: #0d0e11;
  background-position: center;
  background-size: cover;
  display: flex;
  width: clamp(300px, 50vw, 650px);
  aspect-ratio: 1.6/1;
  border-radius: 15px;
  box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.144);
}

.lua{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

@keyframes girarLua {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 200% 0;
  }
}

.mapaLua {
  background-image: url(../../assets/images/mapa-da-lua.jpg);
  background-repeat: repeat-x;
  background-size: auto 100%;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1/1;
  animation: girarLua 20s linear infinite;
  box-shadow: inset 90px 0px 90px 0px rgb(0, 0, 0),
              8px 0px 10px 0px rgba(255, 255, 255, 0.11);
}

.infoLua{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(190, 187, 187);
  font-size: clamp(10px, 1.9vw, 20px);
  line-height: 1;
  text-align: center;
  word-break: break-word;
}

.infoLua > p:last-child{
  font-size: clamp(40px, 5vw, 40px);
  font-weight: bolder;
  color: white;
}


/* Tablet */
@media (max-width: 1060px) {
  
  .luaConteiner{
    flex-direction: column;
    width: 90%;
    background-color: rgb(252, 252, 252);
    align-items: center;
    border-radius: 8px 8px 15px 15px;
  }

  .luaBannerTopo{
    width: 100%;
    aspect-ratio: 2.5/1;
    height: auto;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 
    0px -5px 10px rgba(0, 0, 0, 0.856), /* Sombra preta acima */
    0px 5px 10px rgba(245, 244, 244, 0.137);
    background:  
    linear-gradient(rgba(0, 0, 0, 0.897), rgba(8, 8, 8, 0.5)),
    url('https://www.shutterstock.com/image-vector/space-stars-background-abstract-stardust-600nw-2318734487.jpg');
  }

  .luaDescricao{
    width: 95%;
    gap: 15px;
    height: auto;
    
  }

  .luaDescricao > h1 {
    color: #26272b;
    margin-top: 15px;
    
  }

  .luaDescricao > P {
    font-size: clamp(13px, 2vw, 17px);
    color: #0D0F14;
    
  }

  .luaDescricao > a{
    width: 100%;
    height: auto;
    background-color: #0D0F14;
    color: white;
    font-size: clamp(13px, 2vw, 17px);
    margin-top: 9px;
  }

  .luaBanner{
    width: 100%;
  }

  .lua{
   padding: 20px;
  }

  .infoLua{
    font-size: clamp(10px, 3vw, 30px);
  }
  
  .infoLua > p:last-child{
    font-size: clamp(10px, 5vw, 40px);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.445), 0 0 3px rgba(255, 255, 255, 0.527), 0 0 3px rgba(255, 255, 255, 0.39);
  }

}