.conteinerInicial{

    width: 100vw;
    display: flex;
}

.fotoData{

    width: 40vw;
}

.foto{
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(139, 137, 137);
    background-image: url(https://apod.nasa.gov/apod/image/2503/M94_hst1542a_1280.jpg);
    background-size: cover;
    background-position: center;
}

.infoFoto{
    display: flex;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.infoFoto > div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background-color: #131313;
    border-radius: 10px;
    padding: 25px;
    flex: 1;
    line-height: 1;
    margin: 0;
}

.infoFoto > div > h3{
    font-weight: bold;
    font-size: clamp(0.8rem, 3vw, 1.6rem);
    font-weight: bold;
}

.infoFoto > div > p{
    font-size: clamp(0.7rem, 2vw, 1rem);
    color: rgb(121, 119, 119);
}

.informações{

    width: 60vw;
}

.infoConteudo{
    padding: 30px 70px;
}

.infoConteudo h1{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.infoConteudo p{
    font-size: clamp(0.7rem, 2vw, 1rem);
    margin-bottom: 15px;
}

.baixarImagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 10px;
}

.baixarImagem button{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: clamp(0.7rem, 2vw, 1rem);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.baixarImagem button:hover{
    background-color: rgb(192, 190, 190);
    color: white;
}

.HubDias{
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow-y: auto;
}

.diaAnterior{
   width: 100%;
   max-width: 390px;
   min-width: 120px;
}

.DiasFoto{
    background-color: white;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
}

@media (max-width: 970px) {

    .conteinerInicial{
        flex-direction: column;
    }

    .fotoData{
        width: 100vw;
    }

    .foto{
        aspect-ratio: 16/9;
    }

    .informações{
        width: 100vw;
    }

    .infoConteudo{
        padding: 30px 20px;
    }
}